/*RESETEO EL CSS*/
*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
header{
    background-image: url("../img/vcp2.jpg") ;
    background-size: 100% 600px;
    height: 600px;
}
aside h5{
    color: #d3d3d3;
}
body{
    background-color: #000;
}
.logo{
    width: 100px;
    height: 100px;
    margin-top: 2%;
    margin-left: 1%;
}
.title{
    color: rgb(255, 0, 0);
    font-size: 75px;
    margin-left: 25px;
}
.subtitle{
    color: rgba(255, 255, 255, 0.993);
    font-size: 36px;
    
}
.cuidad{
    background-color: rgb(255, 0, 0);
    color: rgba(255, 255, 255, 0.993);
    font-size: 36px;
    display: flex;
    justify-content: center;
}
.prom{
    background-color: rgb(255, 0, 0);
    color: rgba(255, 255, 255, 0.993);
    font-size: 36px;
    display: flex;
    justify-content: center;
}
.hotel{
    background-color: rgb(255, 0, 0);
    color: rgba(255, 255, 255, 0.993);
    font-size: 36px;
    display: flex;
    justify-content: center;
}
.promociones{
    color: rgb(255, 0, 0);
    font-size: 60px;
    display: flex;
    justify-content: center;
    border: solid rgb(255, 255, 255) 5px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.promociones:hover{
    background-color: rgb(255, 255, 255);
    color: #000;
}
.boliches{
    color: rgba(0, 0, 0, 0.993);
    background-color: rgb(255, 0, 0);
    font-size: 36px;
    margin: 30px 40px 0px 40px;
    padding-left: 25%;
}
div nav ul{
    list-style: none;
}
.headFlex{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 20px;
    justify-content: space-between;
}
.menuFlex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
.boliFlex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.text{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    margin: 5px 25px 5px 25px;
    padding: 5px 30px 5px 30px;
}
.fondo{
    background-color: #050505;
}
.excur li{
    display: block;
    color: #ffffff;
}
a{
    text-decoration: none;
    color:#d3d3d3
}
/* menu */
ul {
    list-style: none;
}
li {
    display: inline-block;
    position:relative;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    border:solid 1px red;	
    background-color: black;
    
}
ul ul
{
    position: absolute;
    top: 40px; 
    left: -20px;
    display: none;
}
ul ul li {
    display: block;
}
ul li:hover ul {
    display:block;
}

li:hover{
    background-color: red;
}

.imagen__centrada{
    margin-left: 10%;
    margin-top: 25px;
    width: 1000px;
    height: 400px;
}
.video{
    width: 300px;
    height: 300px;
    padding: 25px;
}
article{
    margin: 0px 50px 50px 50px;
}
.articleVideo{
    margin: 0px 10px 10px 25px;
    background-color: #fff;
    margin-top: 25px;
}
section h2{
    padding: 50px 50px 0px 50px;
}
section iframe{
    margin-left: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 80%;
    height: 500px;
}
#terminos{
    margin-left: 28%;
}
#redes{
    margin-left: 30%;
}
footer p{
    color:#d3d3d3;
    margin-left: 20%;
    margin-top: 50px;
}
.pie{
    background-color: rgb(255, 0, 0);
    padding-top: 30px;
}
footer p{
    color: white;
    margin-left: 30%;
}
footer ul li:hover{
    background-color: rgb(255, 255, 255);
    color: #000;
}
/*****DESKTOP*****/
#GridAreas{
    display: grid;
    grid-template-areas: 
    "cabeza cabeza cabeza"
    "cuerpo cuerpo publicidad"
    "pie pie pie"
    ;
    grid-template-columns: 33.3% auto 150px;
    grid-template-rows: auto auto 250px;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}
header{
    grid-area: cabeza;
}
footer{
    grid-area: pie;
}
main{
    grid-area: cuerpo;
}
aside{
    grid-area: publicidad;
}
/*TABLET*/
@media (min-width: 600px) and (max-width: 1023px){
    #GridAreas{
        display: grid;
        grid-template-areas: 
        "cabeza cabeza"
        "cuerpo cuerpo "
        "publicidad publicidad"
        "pie pie"
        ;
        grid-template-columns: 50% 50%;
        grid-template-rows: 880px auto 200px 450px;
        grid-column-gap: 10px;
        grid-row-gap: 5px;
    }
    header{
        margin-bottom: 360px;
    }
    header{
        background-size: 100% 500px;
        height: 500px;

    }
    .logo{
        width: 150px;
        height: 100px;
        margin-top: 2%;
        margin-left: 38%;
        margin-bottom: 380px;
    }
    .headFlex{
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    .menuFlex{
        display:flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    li{
        width: 95%;
        margin: 1px;
        margin-left: 10px;
    }
    ul ul{
        width: 100%;
        margin: 1px;
        margin-left: 10px;
    }
    ul ul{
        position: relative;
        top: 50px; 
        left: -22px;
        display: none;
    }
    div nav{
        margin-left: 0%;
    }
    
    .seccion{
        margin-right: 5%;
    }
    .headFlex{
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    .destinosFlex{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .transporteFlex{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    #contacto{
        padding-left: 5%;
        padding-right: 5%;
    }
    .formulario{
        width: 85%;
        height: 30px;
        margin-left: 5%;
    }
    .button{
        margin-left: 35%;
    }
    .pie{
        background-color: rgb(255, 0, 0);
        padding-top: 30px;
        width: 100%;
    }
    footer p{
        display: flex;
        justify-content: center;
        color: white;
        margin-top: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }
    footer ul li:hover{
        background-color: rgb(255, 255, 255);
        color: rgb(255, 0, 0);
    }
    #terminos{
        margin-left: 2%;
        margin-right: 5%;
    }
    #redes{
        margin-left: 2%;
        margin-right: 5%;
    }
    section iframe{
        margin-left: 5%;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 90%;
        height: 400px;
    }


}
/*SMARTPHONE*/
@media (max-width: 599px){
    #GridAreas{
        display: grid;
        grid-template-areas: 
        "cabeza"
        "cuerpo"
        "publicidad"
        "pie"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 830px auto 200px 410px;
        grid-column-gap: 10px;
        grid-row-gap: 5px;
    }
    header{
        background-size: 100% 300px;
        height: 300px;
        margin-bottom: 530px;

    }
    .logo{
        width: 150px;
        height: 100px;
        margin-top: 2%;
        margin-left: 30%;
        margin-bottom: 150px;
    }
    .headFlex{
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    div nav {
        margin-left: 2%;
        margin-top: 30px;
    }
    .menuFlex{
        display:flex;
        flex-flow: column nowrap;
        justify-content: space-around;

    }
    li{
        width: 90%;
        margin: 1px;
        margin-left: 10px;
    }
    ul ul{
        width: 100%;
        margin: 1px;
        margin-left: 10px;
    }
    ul ul{
        position: relative;
        top:1px; 
        left: -20px;
        display: none;
    }
    .title{
        font-size: 50px;
        margin: 10px;
    }
    .subtitle{
        font-size: 24px;
        margin: 10px;
    }
    .cuidad{
        font-size: 24px;
    }
    section iframe{
        margin: 10px;
        height: 300px;
        width: 95%;
    }
    .prom{
        font-size: 24px;
    }
    .promociones{
        font-size: 36px;
    }
    .hotel{
        font-size: 24px;
    }
    .centrar{
        margin-left: 5px;
    }
    
    iframe{
        width: 420px;
        height: 250px;
    }
    #contacto{
        padding-left: 5%;
        padding-right: 5%;
    }
    .formulario{
        width: 85%;
        height: 30px;
        margin-left: 5%;
    }
    .button{
        margin-left: 25%;
    }
    .pie{
        background-color: rgb(255, 0, 0);
        padding-top: 30px;
        width: 100%;
    }
    footer p{
        color: white;
        margin-left: 5%;
        margin-right: 5%;
    }
    footer ul li:hover{
        background-color: rgb(255, 255, 255);
        color: rgb(255, 0, 0);
    }
    #terminos{
        margin-left: 2%;
        margin-right: 2%;
    }
    #redes{
        margin-left: 2%;
        margin-right: 2%;
    }
    div article{
        margin: 5px;
        flex-wrap: nowrap;
    }
    div{
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 20px;
    }
    .destinosFlex{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .transporteFlex{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}